footer {
  @extend %space-between;
  width: $landing-section-width;
  margin: 0 auto;
  .logoImg {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  .logo {
    @extend %flex;
    text-decoration: none;
    color: black;
    &:focus {
      outline: 0;
      border: none;
      outline-style: none;
      -moz-outline-style: none;
    }
  }
  .footerlink {
    display: inline-block;
    margin-left: 1rem;
    color: $primary_2;
  }
}
