$primary_1: #3f51b5;
$primary_2: #777;
$error_primary1: #9f3a38;
$error_primary2: #fff6f6;

@mixin button {
  background-color: $primary_1;
  border: 3px solid $primary_1;
  color: white;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: $primary_1;
    background-color: white;
    border: 3px solid $primary_1;
  }
}

@mixin input {
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 28px;
  padding: 5px;
  width: 100%;
}

/* prevent padding from affecting element's width or height */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0 auto; /* extends AppBar fully */
}

html,
body,
#root {
  height: 100%;
  font-family: "Work Sans", sans-serif;
}

#navItems {
  margin-left: auto;
  list-style: none;
  li {
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 2rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

#signUp,
#logIn {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8rem auto 4rem auto;
  padding: 2rem;
  box-shadow: 0 0 4px 3px #eee;
  #errorMsg:not(:empty) {
    border-radius: 4px;
    color: $error_primary1;
    background-color: $error_primary2;
    border: 1px solid $error_primary1;
    padding: 0.5rem;
  }
  h2 {
    text-align: center;
  }
  input {
    @include input;
    margin: 0.3rem 0 1rem 0;
  }
  .authSubmit {
    @include button;
  }
}

#noHabitMsg {
  text-align: center;
  margin-top: 6rem;
  color: $primary_2;
}

.dialog {
  .MuiPaper-root {
    width: 1000px;
  }
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    h2 {
      margin: 0px;
    }
  }
  .habitInput {
    @include input;
    margin-top: 1rem;
  }
  .addHabitBtn {
    @include button;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem 0 0 auto;
    float: right;
  }
  .editBtns {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .editBtn {
      @include button;
      padding: 1rem 2rem 1rem 2rem;
      margin-left: auto;
    }
    .deleteContainer {
      &:hover {
        color: red;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

#openModalBtn {
  @include button;
  padding: 1rem 2rem 1rem 2rem;
  margin: 2rem 0 2rem 0;
}

table {
  border: 1px solid black;
  width: 90%;
  margin: 4rem auto 4rem auto;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid black;
    width: 40px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  td {
    text-align: center;
  }
  th {
    max-width: 70px;
    text-align: left;
    border: none;
    background-color: lightgrey;
  }
  .habitCell {
    cursor: pointer;
  }
  #newHabitCell {
    cursor: pointer;
  }
}

.fa {
  cursor: pointer;
}
