$primary_1: #3f51b5;
$primary_2: #777;
$secondary_blue: #e5e8f5;
$error_primary1: #9f3a38;
$error_primary2: #fff6f6;
$landingSectionWidth: 90%;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

@mixin mobile {
  @media (min-width: 320px) and (max-width: 768px) {
    @content;
  }
}

%button {
  background-color: $primary_1;
  border: 3px solid $primary_1;
  color: white;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: $primary_1;
    background-color: white;
    border: 3px solid $primary_1;
  }
}

%input {
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 28px;
  padding: 5px;
  width: 100%;
}

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%pricingPlan {
  border: 2px solid lightgrey;
  width: 45%;
  text-align: center;
  cursor: pointer;
  height: 80px;
}

%question {
  border: 3px solid black;
  background-color: white;
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  height: auto;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  @include mobile {
    width: 90%;
  }
}

%featureImage {
  width: 100%;
  border-radius: 8px;
  border: 3px solid black;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body,
#root {
  // height: 100%; comment out to allow scrollTop on Privacy/terms page
  font-family: "Lato", sans-serif;
  overflow-y: overlay; /*prevent scrollbar reduce page width */
  background-color: #fafafa;
}

body {
  margin: 0 auto; /* extends AppBar fully */
}

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

#hero-section {
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
  #heroText {
    text-align: center;
    #header {
      @include mobile {
        font-size: 2rem;
      }
      font-size: 3rem;
    }
    #subheader {
      margin: 0 auto;
      font-weight: lighter;
      font-size: 1.3rem;
      width: 90%;
    }
  }
  #heroImage {
    background-color: #fafafa;
    padding: 10px;
    margin-top: 2rem;
    height: auto;
    width: 80%;
    border-radius: 8px;
    border: 3px solid black;
    @include mobile {
      width: 90%;
    }
  }
  .heroBtnWrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .heroBtn {
    @extend %button;
    text-decoration: none;
    padding: 0.8rem 2rem 0.8rem 2rem;
  }
}

#features-section {
  width: $landingSectionWidth;
  margin: 0 auto;

  .feature {
    @include mobile {
      flex-direction: column;
      .featureText {
        order: 1;
        margin-bottom: 1rem;
      }
      .featureImage {
        order: 2;
        margin-bottom: 0;
      }
      margin-top: 7rem;
    }
    @extend %space-between;
    width: 100%;
    margin-top: 10rem;
    #feature1,
    #feature3 {
      width: 80%;
    }
    .featureText {
      @include mobile {
        width: 100%;
      }
      @extend %flex;
      width: 50%;
      flex-wrap: wrap;
    }
    .featureImage {
      @include mobile {
        width: 100%;
        display: block;
      }
      @extend %flex;
      width: 50%;
      height: 100%;
    }
    .heroBtnWrapper {
      width: 75%;
      margin-top: 2rem;
      @include mobile {
        width: 100%;
      }
    }

    .heroBtn {
      @extend %button;
      text-decoration: none;
      padding: 0.8rem 2rem 0.8rem 2rem;
      display: inline-block;
    }
    .featureTitle,
    .featureSubtitle {
      @include mobile {
        width: 100%;
      }
      width: 75%;
    }
    .featureTitle {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }
    .featureSubtitle {
      color: $primary_2;
      line-height: 1.5rem;
      font-weight: lighter;
      font-size: 1.2rem;
    }
    img {
      @extend %featureImage;
    }
  }
}

.wave-section {
  svg {
    display: block;
  }
}

#benefits-section {
  background-color: $secondary_blue;
  margin: 0 auto;
  h1 {
    text-align: center;
    margin-top: 0;
  }
  h3 {
    @include mobile {
      padding: 0;
      margin: 0;
    }
  }
  .row {
    @include mobile {
      display: block;
      margin-top: 0;
    }
    @extend %flex;
    width: $landingSectionWidth;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .benefits-col-1,
  .benefits-col-2,
  .benefits-col-3 {
    @include mobile {
      width: 100%;
    }
    width: 33.3%;
    text-align: center;
  }
  .benefits-text {
    width: 90%;
    margin: 0 auto;
    font-weight: lighter;
  }
  img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    @include mobile {
      margin-top: 4rem;
    }
  }
}

#FAQ-section {
  width: $landingSectionWidth;
  margin: 10rem auto 10rem auto;

  .question {
    @extend %question;
    .header {
      @extend %space-between;
    }
  }
  .answer {
    font-size: 1rem;
    width: 100%;
    margin-top: 1rem;
    font-weight: lighter;
  }
}

#CTA-section {
  margin: 10rem auto 3rem auto;
  width: $landingSectionWidth;
  background-color: $secondary_blue;
  border-radius: 8px;
  padding: 2rem;
  #signUp {
    box-shadow: none;
    border: 3px solid black;
    border-radius: 8px;
  }
}

footer {
  @extend %space-between;
  width: $landingSectionWidth;
  margin: 0 auto;
  .logoImg {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  .logo {
    @extend %flex;
    text-decoration: none;
    color: black;
    &:focus {
      outline: 0;
      border: none;
      outline-style: none;
      -moz-outline-style: none;
    }
  }
  .privacyLink,
  .termsLink {
    color: $primary_2;
  }
  .footerlink {
    display: inline-block;
    margin-left: 1rem;
  }
}

#privacy,
#terms {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.appBar {
  background-color: #fafafa;
  a {
    text-decoration: none;
    color: black;
  }
  #navContainer {
    @include mobile {
      width: 90%;
    }
    @extend %space-between;
    width: 95%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    a {
      @extend %flex;
      &:focus {
        outline: 0;
        border: none;
        outline-style: none;
        -moz-outline-style: none;
      }
      &:active {
        outline: 0;
        border: none;
        outline-style: none;
        -moz-outline-style: none;
      }
    }
    .logoImg {
      width: 30px;
      height: 30px;
      margin-right: 0.5rem;
    }

    #navItems {
      margin-left: auto;
      list-style: none;
      li {
        display: inline-block;
        margin-left: 1.5rem;
      }
      i {
        color: black;
      }
      #signupLink {
        color: white;
        background-color: $primary_1;
        padding: 0.5rem;
        border-radius: 3px;
      }
      #loginLink {
        padding: 0.5rem;
      }
    }
  }
}

#logOut {
  font-size: 1.5rem;
  margin: 0;
  cursor: pointer;
}

#signUp,
#logIn {
  @include mobile {
    width: 90%;
  }
  background-color: white;
  color: $primary_2;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4rem auto 4rem auto;
  padding: 2rem;
  box-shadow: 0 0 4px 3px #eee;
  #errorMsg:not(:empty) {
    border-radius: 4px;
    color: $error_primary1;
    background-color: $error_primary2;
    border: 1px solid $error_primary1;
    padding: 0.5rem;
  }
  h2 {
    text-align: center;
    color: black;
  }
  input {
    @extend %input;
    margin: 0.3rem 0 1rem 0;
    font-size: 1rem;
  }
  .authSubmit {
    @extend %button;
    font-size: 1rem;
    font-weight: lighter;
  }
}

#noHabitMsg {
  text-align: center;
  margin-top: 6rem;
  color: $primary_2;
}

.dialog {
  .MuiPaper-root {
    width: 1000px;
  }
  .titleContainer {
    @extend %space-between;
    padding: 16px 24px;
    h2 {
      margin: 0px;
    }
  }
  .habitInput {
    @extend %input;
    margin-top: 1rem;
  }
  .modalAddBtn {
    @extend %button;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem 0 0 auto;
    float: right;
  }
  .editBtns {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .editBtn {
      @extend %button;
      padding: 1rem 2rem 1rem 2rem;
      margin-left: auto;
    }
    .deleteContainer {
      &:hover {
        color: red;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .deleteBtn {
    @extend %button;
    padding: 1rem 2rem 1rem 2rem;
    float: right;
  }
}

#openModalBtn {
  @extend %button;
  padding: 1rem 2rem 1rem 2rem;
  margin: 2rem 0 2rem 0;
}

#tableContainer {
  margin-left: 2.5%;
  width: 75%;
  @include mobile {
    width: 95%;
  }
  display: inline-block;
  vertical-align: top;
  overflow-x: auto;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid lightgrey;
  th {
    width: 110px;
    max-width: 90px;
  }
  td {
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    padding: 0;
  }

  .datesRow {
    border-bottom: 1px solid lightgrey;
    #dateControlLeft {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
    }

    #dateControlRight {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }

    .dateCell {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .date {
      font-size: 1.1rem;
    }

    .day {
      font-weight: lighter;
    }

    .month {
      font-weight: lighter;
      font-size: 0.9rem;
    }

    .today {
      @extend %flex;
      margin: 0 auto;
      color: white;
      background-color: grey;
      height: 25px;
      width: 25px;
    }
    .date {
      @extend %flex;
      margin: 0 auto;
      height: 25px;
      width: 25px;
      font-weight: bold;
    }
  }

  .streakTitleCell {
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    #bestStreakText {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  }

  #bestStreakCount {
    @extend %flex;
    width: 100%;
    border-left: 1px solid lightgrey;
    .bestStreakWrapper {
      @extend %flex;
      color: black;
      border-radius: 50%;
      font-size: 0.8rem;
    }
    .bestStreakWrapper-0,
    .bestStreakWrapper-1,
    .bestStreakWrapper-2,
    .bestStreakWrapper-3 {
      @extend %flex;
      color: white;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      font-size: 0.8rem;
      font-weight: bolder;
    }
    .bestStreakWrapper-0 {
      background-color: #9fa8da;
    }
    .bestStreakWrapper-1 {
      background-color: #80cbc4;
    }
    .bestStreakWrapper-2 {
      background-color: #ffe082;
    }
    .bestStreakWrapper-3 {
      background-color: #ef9a9a;
    }
    p {
      margin: 0;
    }
  }

  .habitTitleCell {
    text-align: left;
    font-weight: normal;
    border: 1px solid lightgrey;
    .habitTitle {
      margin-left: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: lighter;
    }
    i {
      visibility: hidden;
      @include mobile {
        visibility: visible;
      }
    }
    &:hover i {
      visibility: visible;
    }
  }

  .habitCell {
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    .habitCellInner {
      height: 100%;
      @extend %flex;
      .streak {
        @extend %flex;
        color: white;
      }
      .streak-0,
      .streak-1,
      .streak-2,
      .streak-3 {
        @extend %flex;
        background-color: white;
        height: 25px;
        width: 25px;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 50%;
      }
      .streak-0 {
        color: #9fa8da;
      }
      .streak-1 {
        color: #80cbc4;
      }
      .streak-2 {
        color: #ffe082;
      }
      .streak-3 {
        color: #ef9a9a;
      }
    }
  }
}

#newHabitWrapper {
  width: 140px;
  #newHabitBtn {
    border: 1px solid lightgrey;
    margin-top: 0.5rem;
    cursor: pointer;
    background: white;
    height: 40px;
    font-size: 1rem;
    color: $primary_2;
    &:focus {
      outline: none;
    }
    &:hover {
      color: black;
    }
    .fa {
      font-size: 16px;
    }
    span {
      margin-left: 0.3rem;
    }
  }
}

.fa {
  cursor: pointer;
}

.subscribeBtn {
  @extend %button;
  padding: 1rem 2rem 1rem 2rem;
  float: right;
}

// ::-webkit-scrollbar {
//   width: 0; /* Remove scrollbar space */
//   background: transparent; /* Optional: just make scrollbar invisible */
// }

#notes {
  @include mobile {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  display: inline-block;
  margin-left: 2.5%;
  width: 17.5%;
  background-color: white;
  border: 1px solid lightgrey;
  margin-bottom: 2rem;
  #buttonContainer {
    @extend %space-between;
    padding: 0.5rem;
    border-bottom: 1px solid lightgrey;
    .title {
      color: $primary_2;
    }
    button {
      font-size: 1rem;
      padding: 0.5rem;
      color: $primary_2;
      cursor: pointer;
      border: none;
      background-color: white;
      &:hover {
        color: black;
      }
      &:focus {
        outline: none;
      }
    }
  }

  #notesContainer {
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
    .noteContainer {
      padding: 1.5rem;
      border-bottom: 1px solid lightgrey;
      .noteControls {
        float: right;
      }
      .noteDate {
        color: $primary_2;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        font-weight: lighter;
      }
      .noteContent {
        font-weight: lighter;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      i {
        margin-left: 1rem;
        visibility: hidden;
        @include mobile {
          visibility: visible;
        }
      }
      &:hover i {
        visibility: visible;
      }
    }
    #noNotesMsg {
      height: 100%;
      color: $primary_2;
      position: relative;
      text-align: middle;
      h3 {
        margin: 0;
        height: 50px;
        margin-top: -25px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 80px;
        margin-left: -40px;
      }
    }
  }
}

.noteInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 28px;
  padding: 5px;
  width: 100%;
  margin-top: 1rem;
}

.errorMsg:empty {
  height: 0;
}

.errorMsg:not(:empty) {
  margin: 0;
  border-radius: 4px;
  color: $error_primary1;
  background-color: $error_primary2;
  border: 1px solid $error_primary1;
  padding: 0.5rem;
}

#loading {
  @extend %flex;
}

.subscribe-dialog {
  .MuiPaper-root {
    width: 500px;
  }
  .titleContainer {
    @extend %space-between;
    padding: 16px 24px;
    h2 {
      margin: 0;
      margin-bottom: 0.25rem;
    }
    p {
      margin: 0;
      font-weight: lighter;
    }
  }
  #options {
    @extend %space-between;
    margin-bottom: 1rem;
    #monthlyOption,
    #annualOption {
      @extend %flex;
      @extend %pricingPlan;
      width: 45%;
    }
    #monthlyOption-active {
      @extend %flex;
      @extend %pricingPlan;
      border: 2px solid $primary_1;
      background-color: rgba(7, 123, 248, 0.05);
    }
    #annualOption-active {
      @extend %flex;
      @extend %pricingPlan;
      border: 2px solid $primary_1;
      background-color: rgba(7, 123, 248, 0.05);
    }
    #discount {
      color: $primary_2;
      font-size: 0.8rem;
    }
    .desc {
      font-size: 0.8rem;
      color: $primary_2;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
  }
  #renewMsg {
    font-size: 0.7rem;
    color: $primary_2;
  }

  #total {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  #annualPricing {
    @extend %flex;
  }

  .price {
    color: $primary_1;
    font-weight: bold;
  }

  .prevPrice {
    color: $primary_2;
    font-size: 0.8rem;
    text-decoration: line-through;
    margin-right: 0.25rem;
  }

  #limitedOffer {
    background-color: #444;
    color: white;
    font-size: 0.9rem;
    padding: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  #paymentSuccessMsg {
    @extend %flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    i {
      font-size: 4rem;
      color: #4bb543;
      margin-bottom: 0.5rem;
    }
    h2 {
      margin: 0;
    }
  }

  #paymentErrorMsg {
    @extend %flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    i {
      font-size: 4rem;
      color: #ff0033;
      margin-bottom: 0.5rem;
    }
    h2 {
      margin: 0;
    }
  }
}
