#signUp,
#logIn,
#reset {
  @include mobile {
    width: 90%;
  }
  background-color: white;
  color: $primary_2;
  width: 400px;
  border: $auth-border;
  border-radius: 4px;
  margin: 4rem auto 4rem auto;
  padding: 2rem;
  box-shadow: 0 0 4px 3px #eee;
  #errorMsg:not(:empty) {
    border-radius: 4px;
    color: $error_primary1;
    background-color: $error_primary2;
    border: 1px solid $error_primary1;
    padding: 0.5rem;
  }
  h2 {
    text-align: center;
    color: black;
  }
  input {
    @extend %input;
    margin: 0.3rem 0 1rem 0;
    font-size: 1rem;
    background-color: $landing-bg-white;
  }
  input:focus {
    background-color: white;
  }
  .authSubmit {
    @extend %button;
  }
  a {
    color: $primary_1;
    text-decoration: none;
    float: right;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    :hover {
      color: black;
    }
  }
}
