#newHabitWrapper {
  width: 140px;
  #newHabitBtn {
    border: 1px solid lightgrey;
    margin-top: 0.5rem;
    cursor: pointer;
    background: white;
    height: 40px;
    font-size: 1rem;
    color: $primary_2;
    &:focus {
      outline: none;
    }
    &:hover {
      color: black;
    }
    .fa {
      font-size: 16px;
    }
    span {
      margin-left: 0.3rem;
    }
  }
}
