#notes {
  width: $dashboard-right-col-width;
  background-color: white;
  border: 1px solid lightgrey;
  float: right;
  @include mobile {
    float: none;
    width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  #buttonContainer {
    @extend %space-between;
    padding: 0.5rem;
    border-bottom: 1px solid lightgrey;
    .title {
      color: $primary_2;
    }
    button {
      font-size: 1rem;
      padding: 0.5rem;
      color: $primary_2;
      cursor: pointer;
      border: none;
      background-color: white;
      &:hover {
        color: black;
      }
      &:focus {
        outline: none;
      }
    }
  }

  #notesContainer {
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
    .noteContainer {
      padding: 1.5rem;
      border-bottom: 1px solid lightgrey;
      .noteControls {
        float: right;
      }
      .noteDate {
        color: $primary_2;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        font-weight: lighter;
      }
      .noteContent {
        font-weight: lighter;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      i {
        margin-left: 1rem;
        visibility: hidden;
        @include mobile {
          visibility: visible;
        }
      }
      &:hover i {
        visibility: visible;
      }
    }
    #noNotesContainer {
      height: 100%;
      width: 100%;
      @extend %flex;
    }
    #noNotesMsg {
      margin-top: -100px;
      text-align: center;
      color: $primary_2;
    }
    img {
      width: 80px;
      height: auto;
    }
    #openModalBtn {
      @extend %button;
      padding: 0.5rem;
    }
  }
}

// ::-webkit-scrollbar {
//   width: 0; /* Remove scrollbar space */
//   background: transparent; /* Optional: just make scrollbar invisible */
// }
