$primary_1: #3f51b5;
$primary_2: #777;
$error_primary1: #9f3a38;
$error_primary2: #fff6f6;
$landingSectionWidth: 90%;
$landing-bg-white: #fafafa;
$landing-bg-blue: #e5e8f5;
$landing-img-border: 2px solid #efefef;
