$primary_1: #3f51b5;
$primary_2: #777;
$error_primary1: #9f3a38;
$error_primary2: #fff6f6;
$landing-section-width: 90%;
$landing-bg-white: #fafafa;
$landing-bg-blue: #e5e8f5;
$landing-img-border: 2px solid #efefef;
$landing-boxshadow: 0 0px 12px lightgrey;
$auth-border: 1px solid #ccc;

$dashboard-right-col-width: 17.5%;
$dashboard-left-col-width: 80%;
